{% extends 'tests/base.html' %}
{% block content %}


 <form method="POST">
    {% csrf_token %}
    {{ form.errors }}
     <h1>You are opened test: {{ form.title }} </h1>
     <h5>Author: {{ form.author }} </h5>
     <h5>Additional info: {{ form.test_info }}</h5>
     <h5>Created: {{ form.created_at }}</h5>

     <h6>Questions: </h6>
     {% for i in questions %}
        <p>{{ forloop.counter }}. {{ i.question }} </p>
        <input style ="margin-bottom: 10px;" type="text" name="ans{{ forloop.counter }}">
     {% endfor %}
    <div class="col-12">
      <button class="btn btn-primary" type="submit">add</button>
    </div><br>
  </form>
{% endblock %}