{% extends 'tests/base.html' %}

    {% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Привет!</h1>
          <p>Тут ты можешь пройти любой опрос на любую интересующую тебя тему!</p>
<!--          <p><a class="btn btn-primary btn-lg" href="/add" role="button">Создать тест &raquo;</a></p>-->
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            {% for post in tests %}
             <div class="col-md-4">
                 <h2>{{ post.title }}</h2>
                 <p>{{ post.test_info }}</p>
                 <p><a class="btn btn-secondary" href="/{{ post.id }}" role="button">Run test ->>></a></p>
                 <p>Created at: {{ post.created_at }}</p>
             </div>
            {% endfor %}
        </div>
        <hr>
      </div> <!-- /container -->


    {% endblock %}
